# Ignore all .json and .txt files in paths/ and its subdirectories
*.json
*.csv
*.log
Data/**/*.json
Data/**/*.txt
# But don't ignore directories (needed for Git to track them)
!Data/**/
__pycache__/
/transformers/datasets
scionpathml.egg-info/
